04_Parse_All_Stations.ipynb
05_EDA.ipynb
D:\Geo_magnetic_project\abg_master.csv
D:\Geo_magnetic_project\data_download_ABG.ipynb
D:\Geo_magnetic_project\data_download_KAK.ipynb
D:\Geo_magnetic_project\data_download_LER.ipynb
D:\Geo_magnetic_project\Geomagnetic_EDA.ipynb
D:\Geo_magnetic_project\LER\2018
D:\Geo_magnetic_project\LER\2019
D:\Geo_magnetic_project\KAK\2018
D:\Geo_magnetic_project\KAK\2019
D:\Geo_magnetic_project\ABG\2018
D:\Geo_magnetic_project\ABG\2019
data\.ipynb_checkpoints
D:\Geo_magnetic_project\data